{% extends "base.html.twig" %}

{% block title %}te revoir - Mentions légales{% endblock %}

{% block body %}
    <div class="legal">
        <h1>Mentions légales</h1>
        <p>Date : avril 2023</p>
        <p>Pour contacter l'éditeur : <a href="mailto:contact@terevoir.fr">contact@terevoir.fr</a></p>
        <p>
            <p>Hébergeur : </p>
            <p>    
                OVH SAS <br>
                2 rue Kellermann<br>
                59100 Roubaix<br>
                France<br>
                <a href="https://www.ovhcloud.com/fr/contact/" target="_blank" rel="noopener noreferrer">https://www.ovhcloud.com/fr/contact/</a>
            </p>
        </p>
    </div>
{% endblock %}