{% extends "base.html.twig" %}

{% block title %}te revoir - Recherche{% endblock %}

{% block meta %}
    <meta property="og:title" content="Te revoir - Recherche">
    <meta property="og:url" content="https://www.terevoir.fr{{ path('search') }}">
    <meta property="og:description" content="Recherchez une personne avec qui vous souhaitez renouer. Elle en sera informée uniquement si elle vous a aussi recherché. Facile, en 1 min et sans créer de compte.">
    <meta name="description" content="Recherchez une personne avec qui vous souhaitez renouer. Elle en sera informée uniquement si elle vous a aussi recherché. Facile, en 1 min et sans créer de compte.">
{% endblock %}

{% block body %}
    <div id="search">
    
    </div>
{% endblock %}