<section class="home-bottom">
    <div class="home-bottom-container">
        <h2 class="home-bottom-title">Comment ça marche ?</h2>
        <div class="home-bottom-items">
            <p class="home-bottom-item">
                <span class="home-bottom-item-number scale-1">1.</span>
                <span class="home-bottom-item-text">Vous entrez des informations sur la personne recherchée</span>
            </p>
            <p class="home-bottom-item">
                <span class="home-bottom-item-number scale-2">2.</span>
                <span class="home-bottom-item-text">Vous entrez vos informations personnelles</span>
            </p>
            <p class="home-bottom-item">
                <span class="home-bottom-item-number scale-3">3.</span>
                <span class="home-bottom-item-text">Nous vérifions dans notre base de données si la personne vous a déjà recherché</span>
            </p>
        </div>
        <div class="home-bottom-footer">
            <div class="home-bottom-footer-item">
                <svg class="icon arrow-yes" xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960">
                    <path fill="currentColor" d="m480 896-42-43 247-247H160v-60h525L438 299l42-43 320 320-320 320Z"/>
                </svg>
                <p><span class="text-big arrow-yes">oui ?</span>Vous voyez le message laissé pour vous par la personne, ainsi que ses coordonnées.</p>
            </div>
            <div class="home-bottom-footer-item">
                <svg class="icon arrow-no" xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960">
                    <path fill="currentColor" d="m480 896-42-43 247-247H160v-60h525L438 299l42-43 320 320-320 320Z"/>
                </svg>
                <p><span class="text-big arrow-no">non ?</span>Nous sauvegardons votre recherche et, si vous le souhaitez, un message. Lorsque la personne vous recherchera à son tour, elle pourra voir ce message et vos coordonnées, et vous en serez informé par email.</p>
            </div>
            <div class="home-bottom-footer-item center-item" style="text-align: center;">
                <p>ensuite...</p>
                <p class="text-big arrow-no">à vous de jouer !!!</p>
            </div>
        </div>
    </div>
</section>