<footer class="footer">
    <a href={{ path('legal_cgu') }} class="footer-item footer-link">
        Conditions générales d'utilisation
    </a>
    <a href={{ path('legal_legal') }} class="footer-item footer-link">
        Mentions légales
    </a>
    <div class="footer-item footer-item-right">2023<span class="footer-logo">terevoir.fr</span>- Tous droits réservés</div>
</footer>

