<p style="font-size: 1.5em">Bonne nouvelle, {{ receiverFirstName }} !</p>
<br>
<p style="font-size: 1.2em;"><strong>{{ searchFirstName }}</strong>, que vous aviez essayé de retrouver via notre site, vient d'essayer à son tour de vous retrouver.</p>
<br>
<p>Voici ses coordonnées :</p>
<ul style="font-weight: 600;">
    <li>adresse email : {{ email }}</li>
    <li>téléphone : {{ phone }}</li>
</ul>
<br>
<p>Maintenant, à vous de jouer...</p>
<p>Toute l'équipe de <a href="https://terevoir.fr">terevoir.fr</a> vous souhaite de belles retrouvailles !</p>
 